{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Add-Menu{% endblock %}
{% block content %}
    <div class="container">
        <div class="ml-2">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% if filled %}
                    <h1>Your Dish successfully added </h1>
                {% else %}
                    <h1>Add Your dish</h1>
                    {{ menu_form|crispy }}
                    <input type="submit" class="btn btn-success mt-2" value="submit">
                {% endif %}

            </form>
        </div>
    </div>
{% endblock %}